body{
    background: gray;
}

h2:hover {
    color: red;
}

.title{
    color: red;
}

/* Attribute selector */
h2[class=subtitle]{
    color: blue;
}

#contact-us{
    color: green;
}

#services{
    color: green;
}

li:nth-child(2){
    color: steelblue;
}

/* #google-link:link{
    color: blue;
}

#google-link:visited{
    color: red;
} */

/* Nästa */
h2+a{
    color: red;
}

/* Nästa inom familjen */
textarea ~ button{
    color: purple;
}

/* Child selector direct children */
ul>li{
    color: blue;
}

/* Descendant selector allt som är inuti ul */
ul li{
    color: green;
}

#bildcykel{
    width:300px;
    border-radius: 10px;
    /* float: 100px; */
}

/* Attribute selector med ^ efter = för att välja alla mappen */
img[src^="../images/"]{
    border: 10px solid black;
}


